local.*
/bin
states
.classpath
.project
build.xml
TODO.txt
.gradle
.settings
.idea
build
src/test/java/testing
src/test/resources/other
src/test/resources/testing
src/test/resources/todo
TLC4B.jar
temp
out/
src/test/**/*.tla
src/test/**/*.cfg
public_examples
